

.siteminder-module-title {
  text-transform: uppercase;
  font-weight: bold;
}

.siteminder-grouping {
  margin: 0 0 10px 0;
}

.siteminder-field-label {
  padding: 0 5px 0 0;
  clear: both;
  float: left;
}